[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.org/simple"

[packages]
requests = "*"
tensorflow = "*"
opencv-python = "*"
cython = "*"
jupyter = "*"
matplotlib = "*"

[requires]
python_version = "3.5"

[dev-packages]
